name: Trigger auto deployment for mcp-resume-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/mcp-resume-api-AutoDeployTrigger-eaa4a670-31d3-4c4a-a9fe-7450502672a7.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MCPRESUMEAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MCPRESUMEAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MCPRESUMEAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: mcpresumeacr8630.azurecr.io
          registryUsername: ${{ secrets.MCPRESUMEAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MCPRESUMEAPI_REGISTRY_PASSWORD }}
          containerAppName: mcp-resume-api
          resourceGroup: mcp-resume-rg
          imageToBuild: mcpresumeacr8630.azurecr.io/mcp-resume-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


